# Reusable proxy handlers
(buzz_handlers) {
    # Nextcloud client ve takvim/rehber senkronizasyonu yönlendirmeleri (.well-known)
    redir /.well-known/carddav /remote.php/dav/ 301
    redir /.well-known/caldav /remote.php/dav/ 301
    redir /.well-known/webfinger /index.php/.well-known/webfinger 301
    redir /.well-known/nodeinfo /index.php/.well-known/nodeinfo 301

    # Buzz Relay WebSocket ve HTTP trafiği yönlendirmesi
    handle /relay* {
        reverse_proxy buzz-relay:3000
    }

    # Nextcloud ana uygulama yönlendirmesi
    handle {
        reverse_proxy nextcloud-app:80
    }
}

# Yerel HTTP erişimi (Port 80) - Sertifika uyarısı veya domain eşleşme hatası olmadan bağlantı
http://localhost, http://127.0.0.1 {
    import buzz_handlers
}

# Etki alanı (Domain) yapılandırması (Varsa Otomatik SSL / TLS)
{$DOMAIN_NAME:localhost} {
    import buzz_handlers
}
